.nav-list{
  display: flex;
  font-size: 14px;
  color: #fff;
  @media screen and (max-width:1000px) {
    display:none;
  }
}
.nav-list li{
  margin-left: 2.5rem;
}
.nav-list li a{
  color: #fff;
  text-decoration: none;
}
.nav-list li a:hover{
  color: #000;
}
